<div class="section bg-grey-light frontpage-4cols" id="4cols">
    <div class="container">
        <h2 class="wow zoomIn block-title">Properties Managed</h2>
        <div class="wow zoomIn text-center description">
            <!-- stuff here -->
        </div>
        <div class="row cols">
            {% for property in properties %}
                <div class="col-md-3 col-sm-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <img src="{{ property.image|media }}" class="img-responsive" >
                    </div>
                    <div class="content-icon wow fadeInUp">
                        <h4 class="title">{{ property.name }}</h4>
                        <div class="body">
                            <p class="address">{{ property.address|nl2br }}</p>
                            <p class="sqft">{{ property.sqft }} Sqft.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p class="text-center">
            <a class="btn btn-primary-custom btn-margin-top" href="/properties-managed/">More Properties Managed</a>
        </p>
    </div>
</div>
