<div class="section frontpage-content bg-white" id="welcome">
    <div class="container">
        <h1 class="block-title wow zoomIn">Commercial Property Management Services</h1>
        <div class="wow fadeInUp description">
            {% content 'welcome/content' %}
            <p>
                <a class="btn btn-primary-custom btn-margin-top" href="/about-us/">Why Womack has the expertise to manage your asset</a><br>
                <a class="btn btn-primary-custom btn-margin-top" href="/testimonials/">Read what our clients say about our services</a>
            </p>
<br>
        </div>
    </div>
</div>
