title = "Current & Past Properties Managed"
url = "/properties-managed"
layout = "default"
meta_title = "Womack | Commercial Properties Managed"
meta_description = "Check out our full portfolio and browse our list of current and previously managed properties"
is_hidden = 0
seo_keywords = "property management, properties, panama city property managers, panama city property management companies"
robot_index = "index"
robot_follow = "follow"
==
<?php
use KMA\Properties\Models\Property;

function onStart()
{
    $this['currentProperties'] = Property::where('currently_managed', 1)->get();
    $this['previouslyManaged'] = Property::where('currently_managed', 0)->get();
}
?>
==
<p>&nbsp;</p>
<div class="row">
    {% for property in currentProperties %}
        <div class="col-md-3 col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="{{ property.image|media }}" class="img-responsive" alt="{{ property.description }}" >
            </div>
            <div class="property text-center fadeInUp" style="padding-bottom: 0; min-height: 185px;">
                <h4 class="title">{{ property.name }}</h4>
                <div class="body">
                    <p class="address">{{ property.address|nl2br }}</p>
                    <p class="sqft">{{ property.sqft }} Sqft.</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for property in previouslyManaged %}
        <div class="col-md-3 col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="{{ property.image|media }}" class="img-responsive" alt="{{ property.description }}" >
            </div>
            <div class="property text-center fadeInUp" style="padding-bottom: 0; min-height: 185px;">
                <h4 class="title">{{ property.name }}</h4>
                <div class="body">
                    <p class="address">{{ property.address|nl2br }}</p>
                    <p class="sqft">{{ property.sqft }} Sqft.</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>