title = "Testimonials"
url = "/testimonials"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<?php

    use Kma\Testimonials\Models\Testimonial;

    public function onStart()
    {
        $this['testimonials'] = Testimonial::orderBy('date','DESC')->get();
    }

?>
==
<p>&nbsp;</p>
{% for testimonial in testimonials %}
    <p>"{{ testimonial.comment|nl2br }}"</p>
<p>&mdash; <strong>{{ testimonial.author }}</strong>{% if testimonial.author_title %},&nbsp;{{ testimonial.author_title }}{% endif %}, {{ testimonial.author_company }}
    </p>
    <hr>
{% endfor %}
