[viewBag]
==
<div class="footer">
    <div class="container">
        <div class="row">

            <!-- Navigation -->
            <div class="col-md-8">
                <ul id="menu-footer" class="nav-foot">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="/">Home</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>

            <!-- Copyright and Credits -->
            <div class="col-md-4">
                <div class="copyright">
                    &copy; {{ "now"|date("Y") }} Womack Property Management. All rights reserved.
                </div>
            </div>

        </div>
    </div>
</div>