[viewBag]
==
<div class="footer-widgets bg-footer">
    <div class="container">
        <div class="row">

            <!-- Footer Col 1 -->
            <div class="col-md-8 footer-widget footer-widget-col-1 wow">
                <div id="text-2" class="widget widget_text">
                    <h3 class="widget-title">About Us</h3>
                    <div class="textwidget">
                        {% content 'footer/about' %}
                        <br /><br />
                        <!--<a href="#" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>-->
                        <!--<a href="#" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>-->
                        <!--<a href="#" class="btn btn-social-icon btn-flickr"><i class="fa fa-flickr"></i></a>-->
                        <!--<a href="#" class="btn btn-social-icon btn-google"><i class="fa fa-google"></i></a>-->
                    </div>
                </div>
            </div>
            <!-- /Footer Col 1 -->

            <!-- Footer Col 3 -->
            <div class="col-md-4 footer-widget footer-widget-col-3 wow">
                <div id="text-3" class="widget widget_text">
                    <h3 class="widget-title">Contact us</h3>
                    <div class="textwidget">
                        <ul class="icon-list">
                            <li><i class="fa fa-building"></i>200 Richard Jackson Blvd #400</li>
                            <li><i class="fa fa-mobile"></i>(850) 381-4079</li>
                            <li><i class="fa fa-paper-plane"></i>patti@womackpropertymanagement.com</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>