[viewBag]
==
<div class="footer-widgets bg-footer">
    <div class="container">
        <div class="row">

            <!-- Footer Col 1 -->
            <div class="col-md-8 footer-widget footer-widget-col-1 wow">
                <div id="text-2" class="widget widget_text">
                    <h3 class="widget-title">About Us</h3>
                    <div class="textwidget">
                        {% content 'footer/about' %}

                    </div>
                </div>
            </div>
            <!-- /Footer Col 1 -->

            <!-- Footer Col 3 -->
            <div class="col-md-4 footer-widget footer-widget-col-3 wow">
                <div id="text-3" class="widget_text">
                    <h3 class="widget-title">Contact us</h3>
                    <div class="textwidget">
                        <ul class="icon-list">
                            <li><i class="fa fa-building"></i>200 Richard Jackson Blvd #400</li>
                            <li><i class="fa fa-phone"></i>Phone: <a href="tel:850-381-4079" >(850)381-4079</a></li>
                            <li><i class="fa fa-fax"></i>Fax: (850)249-1315</li>
                            <li><i class="fa fa-paper-plane"></i><a href="mailto:patti@womackpropertymanagement.com">patti@womackpropertymanagement.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>