[viewBag]
==
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 header-left">
                <ul id="menu-top-left" class="top-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="mailto:patti@womackrealty.net">patti@womackrealty.net</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="tel:850-381-4079">850-381-4079</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header-toggle"><i class="fa fa-angle-down"></i></div>